<%-include('adminNavbar')%>


<section  style="background-color: #2779e2;">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Add a coupon</h1>
  
          <div class="card" style="border-radius: 15px;">

            <% if (locals.message) { %>
                <div class="alert alert-danger">
                  <strong><%= message %> </strong>
                </div>
              <% } %> 

            <form action="/admin/addcoupon" method="post" >
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3" hidden>
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Coupon ID</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg"  name="couponid"/>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Coupon Code</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" name="couponcode" />
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Coupon Expiry Date</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="date" class="form-control" rows="3" name="couponexpirydate"></input>
  
                </div>
              </div>

              <hr class="mx-n3">

              
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Minimum purchase Amount</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="number" class="form-control" rows="3" name="minpurchaseamnt"></input>
  
                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Discount in percent</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="number" class="form-control" rows="3" name="discount"></input>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4 text-center">
                <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
              </div>
  
            </div>
        </form>
          </div>
  
        </div>
      </div>
    </div>
  </section>