<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5" style="background-color: lightblue;">

    <footer class=" text-center text-lg-start " style="background-color: #25838b00; color: black;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About Us</h5>
  
            <p>
              Welcome to BuyZone Ecommerce, your ultimate destination for a seamless and satisfying online shopping experience. 
            </p>
            <p>
              Established with a passion for quality products and exceptional service, we are dedicated to bringing you a diverse range of products that cater to your every need and desire.
            </p>
            <div class="mt-4">
             
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0" >
            <h5 class="text-uppercase mb-4 pb-1">Our Motto</h5>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 w-75">
            <p class="fw-bold">
              Your Dreams, Our Deliveries
            </p>
            <div class="mt-4">
            </div>
          </div>
  
            
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>
                <div>
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New Delhi, 10012, India</span>
            </div>
              <!-- </li> -->
              <!-- <li class="mb-3"> -->
                <div>
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">buyzone@gmail.com</span>
            </div>
              <!-- </li> -->
              <!-- <li class="mb-3"> -->
                <div>
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">0123456788</span>
            </div>
              <!-- </li> -->
              <!-- <li class="mb-3"> -->
                <div>
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">0123456789</span>
            </div>
              <!-- </li> -->
            <!-- </ul> -->
          </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center bg-primary p-3 w-75 " style="margin: auto;">
        © 2023 Copyright:
        <a class="text-white" href="#">BuyZone.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->